<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="dnb-test" type="disk" order="0">
            <files_dir path="/data/dnb-test" />
            <extra_dir type="job_work" path="/data/dnb-test/job_work_dir" />
        </backend>
    </backends>
</object_store>

